*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

body{
    font-size: 14px;
    width: 100%;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container{
    width: 550px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.image-container{
    height: 100%;
    width: 50%;
    background-image: url('images/image-product-desktop.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.text-container{
    height: 100%;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 2em 1.8em;
}


#first-heading{
    font-weight: 500;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    letter-spacing: .3em;
    margin-bottom: 15px;
}

#second-heading{
    font-family:'Fraunces', serif;
    margin-bottom: .7em;
    word-spacing: .2em;
    line-height: 1em;
}

#paragraph{
    color: hsl(228, 12%, 48%);
    margin-bottom: 1.3em;
    line-height: 1.5;
}

#pricing{
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    font-family:'Fraunces', serif;
    margin-bottom: 18px;
}

#old-price{
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 100;
    color: hsla(228, 12%, 48%,0.8);
    text-decoration: line-through;
    vertical-align: .8em;
}

.fa-cart-shopping{
    font-size: 1rem;
    color: white;
    margin-right: .5em;
}
#add-to-cart{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    padding: 1em 4.5em;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
}

#add-to-cart:hover{

    background-color: hsl(158, 66%, 17%);
    cursor: pointer;
}
.attribution { font-size: 11px; text-align: center;
    position: absolute;
    bottom: 20px;
 }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width : 600px) {
    body{
        width: 100%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .container{
        margin-top: 0;
        width: 650px;
        height: 565px;
        flex-direction: column;
    }
    .image-container{
        background-image: url('images/image-product-mobile.jpg');
        background-size: cover;
        background-position: center;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 10px;
    }
    .text-container{
        min-height: 60%;
        height: fit-content;
        padding: .7em 1.2em;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    #first-heading{
        margin-top: .5em;
        margin-bottom: .5em;
        word-spacing: 0.1em;
    }
    #second-heading{
        margin-bottom: .7em;
        word-spacing: normal;
    }
    #paragraph{
        margin-bottom: 1.2em;
        word-spacing: normal;
    }
    #pricing{
        /* font-size: 1rem; */
        margin-bottom: .2em;
    }
    #add-to-cart{
        padding-inline: 6.5em;
    }
    .attribution{
        bottom: 10px;
    }
}

@media screen and (max-width : 376px) {
    body{
        width: 100%;
        flex-direction: row;
    }
    .container{
        width: 600px;
    }
    .text-container{
        min-height: 60%;
        height: fit-content;
        padding: .7em 1.2em;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    #first-heading{
        margin-top: .5em;
        margin-bottom: 1em;
        word-spacing: 0.2em;
    }
    #second-heading{
        margin-bottom: .7em;
        word-spacing: normal;
    }
    #paragraph{
        margin-bottom: 1.2em;
        word-spacing: normal;
    }
    #pricing{
        margin-bottom: .2em;
    }
    .attribution{
        bottom: 10px;
    }
    #add-to-cart{
        padding-inline: 6.5em;
    }
}